.flowplayer {
  background: #333 no-repeat;
  background-size: contain;
}
/* data-ratio 0.75 via css */
.flowplayer .fp-ratio {
  padding-top: 75%;
}
 
/* initially hide speed buttons while they cannot be used */
.is-splash.flowplayer .buttons, .is-loading.flowplayer .buttons {
  display: none;
}
.flowplayer .buttons {
  position: absolute;
  right: 15px;
  bottom: 40px;
  z-index: 2; /* make clickable */
  display: block;
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.is-mouseout.flowplayer .buttons {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  /* same transition as other ui elements like fullscreen */
  -webkit-transition: opacity .15s .3s;
  -moz-transition: opacity .15s .3s;
  transition: opacity .15s .3s;
}
.flowplayer .buttons span {
  padding: 1ex;
  margin: 0.5ex;
  width: 3em;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  background-color: #eee;
  cursor: pointer;
  -webkit-border-radius: 1ex;
  -moz-border-radius: 1ex;
  border-radius: 1ex;
}
.flowplayer .buttons span.active {
  color: #00a7c8;
  background-color: #666;
  cursor: default;
}
